/*
This file is used to contain all global styles.
*/

body {
    background: $tertiary-color;
}
 
.mui-container,
.change-color {
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
}
 
/**
 * Header CSS
 */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: $white;
}

header table {
  width: 100%;
}

.panel-container {
    min-height: 420px;
}


ul {
    padding: 0;
    margin-bottom: 1rem;
}

li {
    list-style-type: none;
}

/* ==========================================================================
 Animation
 ========================================================================== */

/* Section Main */

@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}
